In [53]:
#Q1

In [54]:
#H0 : There is no significant difference between the diameters of two cutlets.
#H1 : There is significant difference between the diameters of two cutlets.

In [55]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [56]:
cutlet = pd.read_csv("/content/Cutlets.csv")
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [57]:
unitA=pd.Series(cutlet.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [58]:
unitB=pd.Series(cutlet.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [59]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [60]:
p_value[1]

0.4722394724599501

In [61]:
#The p value is less than 0.05, therefore we should accept null hypothesis.
#No significant difference between the diameters of 2 cutlets.

In [62]:
#Q2

In [63]:
#H0 = There is no difference between average TAT of reports.
#H! = There is difference between the average TAT of reports.

In [64]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [65]:
labtat=pd.read_csv("/content/LabTAT.csv")
labtat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [66]:
p_value=stats.f_oneway(labtat.iloc[:,0],labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [67]:
p_value[1]

2.1156708949992414e-57

In [68]:
# Since the p value is less than 0.05, we should accept null hypothesis.
# There is no diiference between average tat of reports.

In [69]:
# Q3

In [70]:
# H0 = All proportions are equal
# H! = All proportions are not equal

In [71]:
import pandas as pd
from scipy import stats as stats
import numpy as np
from scipy.stats import chi2

In [72]:
df=pd.read_csv("/content/BuyerRatio.csv")
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [73]:
df_table=df.iloc[:,1:6]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [74]:
df_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [75]:
val=stats.chi2_contingency(df_table)
val

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [76]:
no_of_rows=len(df_table.iloc[0:2,0])
no_of_columns=len(df_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [77]:
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [78]:
chi_square=sum([(o-e)**2/e for o,e in zip(df_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [79]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [80]:

if chi_square_statestic >= critical_value:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [81]:
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [82]:
'''
p value is greater than 0.05
hence reject null hypothesis 
'''

'\np value is greater than 0.05\nhence reject null hypothesis \n'

In [83]:
#Q4

In [84]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [85]:
tele=pd.read_csv("/content/Costomer+OrderForm.csv")
tele

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [86]:
tele.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [87]:
tele.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [88]:
tele.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [89]:
tele.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [90]:
cl1=np.array([[271,267,269,280],[29,33,31,20]])
cl1

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [91]:
chi2_contingency(cl1)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [92]:
#since p value is greater than 0.05, reject null hypothesis.